<div class="details">
  <button class="imgDetailArrow btn btn-primary" ng-click="imgDetailsCtrl.prevImg()" ng-disabled="imgDetailsCtrl.firstImg">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </button>
  <img ng-src="{{img.src}}" class="img-rounded img-details" alt="{{img.altText}}"/>
  <button class="imgDetailArrow btn btn-primary" ng-click="imgDetailsCtrl.nextImg()" ng-disabled="imgDetailsCtrl.lastImg">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </button>

  <div class="imgDetailInfo">
    <p><b>Description:</b> {{img.label}}</p>
    <p><b>Source:</b> {{img.src}}</p>
    <p><b>Date added:</b> {{img.dateAdded}}</p>
  </div>

</div>
