<div class="gallery-list">
  <div class="container-fluid in-list" ng-repeat="img in imgCardController.imgs">
    <img ng-src="{{img.src}}" class="img-rounded" alt="{{img.altText}}" ng-click="imgCardController.showDetails(this)"/>
    <p>{{img.label}}</p>
    <button type="button" class="btn btn-primary" ng-click="imgCardController.showConfirmMessage(this)">Delete Image</button>
  </div>
  <div class="deleteConfirm" ng-show="imgCardController.deleteConfirm">
    <div class="container">
      <button class="removeBtn" ng-click="imgCardController.hideConfirmMessage()"><span glyphicon glyphicon-remove></span>X</button>
      <br/>
      <span>Are you sure want to delete this image?</span>
      <br/>
      <button class="btn btn-danger" ng-click="imgCardController.deleteImg()">Yes</button>
      <button class="btn btn-success" ng-click="imgCardController.hideConfirmMessage()">No</button>
    </div>
  </div>
</div>
