<h1>All Images</h1></br>
<div class="gallery-list">
  <div class="container-fluid in-list" ng-repeat="image in imageCardController.images"
  ng-mouseleave="rotateImage = false" ng-class="{ondelete: hide}">
      <div class="flipper" ng-class="{rotate: rotateImage}">
        <div class="front">
          <img ng-src="{{imageCardController.url}}/thumbnails/{{image._id.slice(0,8)}}/{{image._id.slice(8,16)}}/{{image._id.slice(16,24)}}.jpg"
          class="image-rounded" alt="{{image.altText}}"/>
          <p class="imageDescription">{{image.name}}</p>
          <a href="#/details/{{image._id}}" class="image-action left">View</a>
          <a class="image-action right" ng-click="rotateImage = true">Delete</a>
        </div>
        <div class="back">
          <a class="delete-confirm left" ng-click="imageCardController.deleteImage(this)">Yes</a>
          <a class="delete-confirm right" ng-click="rotateImage = false">No</a>
        </div>
      </div>
  </div>
</div>
