<div class="gallery-list">
  <div class="container-fluid in-list" ng-repeat="img in imgs">
    <img ng-src="{{img.src}}" class="img-rounded" alt="{{img.altText}}"/>
    <p>{{img.label}}</p>
    <button type="button" class="btn btn-primary" ng-click="imgCartCtrl.showConfirm(this)">Delete Image</button>
  </div>
  <div class="deleteConfirm" ng-show="imgCartCtrl.deleteConfirm">
    <div class="container">
      <button class="removeBtn" ng-click="imgCartCtrl.hideConfirm()"><span glyphicon glyphicon-remove></span>X</button>
      <span>Are you sure want to delete this image?</span>
      <br/>
      <button class="btn btn-danger" ng-click="imgCartCtrl.deleteImg()">Yes</button>
      <button class="btn btn-success" ng-click="imgCartCtrl.hideConfirm()">No</button>
    </div>
  </div>
</div>
