<form novalidate
ng-submit="addImgForm.$valid && addImgController.addImg(); addImgForm.$valid && addImgForm.$setPristine();" name="addImgForm">
  <h4>Please fill up the following fields to add a photo</h4>
  <fieldset class="form-group">
    <input ng-model="addImgController.src" type="text" class="form-control" name="src"
    placeholder="Copy paste a link to the image" required />
    <div ng-messages="addImgForm.$submitted && addImgForm.src.$error" role="alert" class="error-messages">
      <div ng-message="required">You did not enter a source</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="addImgController.description" type="text" class="form-control"
    placeholder="Add some description to your photo" name="description" required>
    </textarea>
    <div ng-messages="addImgForm.$submitted && addImgForm.description.$error" role="alert" class="error-messages">
      <div ng-message="required">You did not enter a description</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <button type="submit" class="btn btn-primary pull-right">Add a Photo</button>
  </fieldset>
</form>
