<h1>Add Image</h1></br>
<form novalidate
ng-submit="addImgForm.$valid && addImgController.addImg(); addImgForm.$valid && addImgForm.$setPristine();" name="addImgForm">
  <h4>Please fill up the following fields to add an image</h4>
  <fieldset class="form-group">
    <input ng-model="addImgController.src" type="text" class="form-control" name="src"
    placeholder="Paste a link to the image" required />
    <div ng-messages="addImgForm.$submitted && addImgForm.src.$error" role="alert" class="error-messages">
      <div ng-message="required">You did not enter a source</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="addImgController.description" type="text" class="form-control"
    placeholder="Add some description" name="description" required>
    </textarea>
    <div ng-messages="addImgForm.$submitted && addImgForm.description.$error" role="alert" class="error-messages">
      <div ng-message="required">You did not enter a description</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <button type="submit" class="btn btn-primary pull-right">Add a Photo</button>
  </fieldset>
</form>
</br>

<h4>Or just drug image into the form</h4>
<form method="POST" action="http://10.10.54.24:3001/images" class="dropzone" id="my-awesome-dropzone" enctype="multipart/form-data">
  <!-- <input type="file" name="file" /> -->
  <!-- <div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <div class="dz-filename"><span data-dz-name></span></div>
      <div class="dz-size" data-dz-size></div>
      <img data-dz-thumbnail />
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-success-mark"><span>✔</span></div>
    <div class="dz-error-mark"><span>✘</span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
  </div> -->
</form>
