body {
  margin-top: 60px;
}

.in-list {
  width: 250px;
  height: 200px;
  display: inline-block;
  margin: 20px;
  margin-bottom: 40px;
}

.in-list img {
  cursor: pointer;
}

img {
  height: 80%;
  width: 80%;
}

.details {
  width: 700px;
  height: 600px;
}

.img-details {
  display: inline-block;
}

.imgDetailInfo {
  margin-top: 20px;
  margin-left: 57px;
  padding: 20px;
  width: 540px;
  height: 160px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #c9cfe2;
  word-wrap: break-word;
}

.imgDetailInfo p {
  width: 100%;
}

.imgDetailArrow {
}

.deleteConfirm {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 130px;
    margin-left:-250px;
    margin-top:-50px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #c9cfe2;
}

.deleteConfirm div{
  width: 100%;
  text-align: center;
}

.deleteConfirm button{
  margin: 20px 25px;
}

.deleteConfirm .removeBtn {
  position: absolute;
  right: 15px;
  top: 5px;
  margin: 0;
}
